.wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.button {
  padding: 8px 20px;
  background-color: #fff2e8;
  color: #f66303;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffd1ab;
}

.cityName {
  font-size: 16px;
  color: #1e1e1e;
}
