.wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.button {
    padding: 8px 12px;
    background-color: #FFF2E8;
    color: #F66303;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #FFD1AB;
}

.cityName {
    font-size: 16px;
    color: #1E1E1E;
}